<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Add new road</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Add new road</h2>
    <form action="" th:action="@{/admin/add-road}" method="post" enctype="multipart/form-data" class="mc-form" th:object="${road}">
        <label for="title">Name</label>
        <input type="text" id="title" placeholder="Przykładowy tytuł" th:field="*{name}">
        <label for="originalTitle">City</label>
        <input type="text" id="originalTitle" placeholder="Example title" th:field="*{city}">
        <label for="releaseYear">Length</label>
        <input type="number" id="releaseYear" placeholder="2019" th:field="*{length}">
        <label for="genre">Genre</label>
        <select id="genre" th:field="*{genre}" required>
            <option value="" hidden>Pick genre</option>
            <option th:each="genre: ${genres}" th:value="${genre.name}" th:text="${genre.name}"></option>
        </select>
        <label for="promoted">Promoted on the main page?</label>
        <input id="promoted" type="checkbox" th:field="*{promoted}">
        <button type="submit">Add</button>
    </form>
</main>
</body>
</html>
