<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>RunBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/common.js"></script>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#">
                <i class="fa-solid fa-person-running"></i> RunBook
            </a>
        </li>
        <li class="menu-toggle">
            <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
        </li>
        <li class="menu-item">
            <a href="#">Trasy</a>
        </li>
        <li class="menu-item">
            <a href="#">Top10</a>
        </li>
        <li class="menu-item">
            <a href="#">Zaloguj się</a>
        </li>
    </ul>
    <header class="jumbotron">
        <h1 class="jumbotron-header">RunBook</h1>
        <p class="jumbotron-description">
            Witaj w najlepszej przeglądarce tras biegowych.
        </p>
    </header>
    <main class="main-content">
        <h2 class="list-heading" th:text="${heading}">Proponowane trasy</h2>
        <p class="list-description" th:text="${description}">Opis sekcji, przykładowo opis kategorii, albo strony głównej</p>
        <ul class="road-list" th:remove="all-but-first">
            <li class="road-list-item" th:each="road: ${roads}">
                <a href="#" th:href="@{|/road/${road.id}|}">
                    <img src="../static/img/gb65.png"
                         alt="Nazwa trasy"
                         class="road-list-item-poster">
                </a>
                <div class="road-list-item-card">
                    <div class="road-list-item-content">
                        <h3 class="road-list-item-title">
                            <a href="#" th:href="@{|/road/${road.id}|}" th:text="${road.name}">Nazwa trasy</a>
                        </h3>
                        <h4 th:text="${road.city}">Miejscowość</h4>
                        <p th:text="${road.length}">Dłogość trasy</p>
                    </div>
                    <div class="road-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>

        </ul>
    </main>
    <footer class="footer">
        <p>RunBook 2022 <i class="fas fa-copyright"></i> christopher.dolanski@gmail.com</p>
    </footer>
</div>
</body>
</html>
