<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <!-- Ustawiamy nazwę -->
    <title th:text="|${road.name} - RunBook|">Route name - RunBook</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="road">
            <!-- Podsumowanie -->
            <div class="road-summary">
                <!-- Plakat -->
                <img src="../static/img/gb65.png"
                     th:src="${road.poster ne null} ? @{|/img/${road.poster}|} : @{/img/gb65.png}"
                     alt="Road name"
                     th:alt="${road.name}"
                     class="road-summary-cover"/>
                <!-- informacje o trasie -->
                <div class="road-summary-info">
                    <h1 class="road-summary-title" th:text="${road.name}">Name</h1>
                    <p class="road-summary-original-title" th:text="${road.city}">City</p>
                    <p class="road-summary-item" th:text="|Lenght: ${road.length}|">Road length</p>
                    <p class="road-summary-item">Gatunek: <a href="#"
                                                              th:href="@{|/genre/${road.genre}|}"
                                                              th:text="${road.genre}">Ultra</a>
                    </p>
                    <p class="road-summary-item" th:text="${road.shortDescription}">
                        Will you survive?
                    </p>

                </div>
            </div>
            <!-- Ocena -->
            <div class="road-rating-container movie-section">
                <h2 class="road-section-heading">Opinions</h2>
                <p th:unless="${road.ratingCount}">No yet opined</p>
                <div th:if="${road.ratingCount}">
                    <p class="road-rating-value" th:text="${#numbers.formatDecimal(road.avgRating, 1, 1)}">4.0</p>
                    <p th:text="|No of opinions: ${road.ratingCount}|">Number of opinions 134</p>
                </div>
                <form action="#" th:action="@{/rating-road}" method="post" sec:authorize="isAuthenticated()" class="road-rating-form">
                    <!-- Identyfikator filmu, na który głosujemy-->
                    <p>Your opinion</p>
                    <input type="hidden" name="roadId" th:value="${road.id}">
                    <div class="road-rating-buttons">
                        <button class="road-rating-button" name="rating" th:each="i: ${#numbers.sequence(1,5)}" th:value="${i}">
                            <i class="fa-star" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i></button>
                    </div>
                </form>
                <p sec:authorize="!isAuthenticated()">
                    <a href="#" th:href="@{/login}">Login</a>, for pass voice</p>
            </div>
        </section>
        <!-- trailer -->
        <section class="road-trailer-container movie-section">
            <h2 class="road-section-heading">Trailer</h2>
            <iframe width="560" height="315" class="road-trailer"
                    src="https://www.youtube.com/embed/yrb2giNasGs"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        <!-- opis -->
        <section class="road-section">
            <h2 class="road-section-heading">Description</h2>
            <p th:text="${road.description}">A well-known route for ultra-marathon runners</p>
        </section>
    </main>
</div>
</body>
</html>
