<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Nazwa trasy</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="road">
            <!-- Podsumowanie -->
            <div class="road-summary">
                <!-- Plakat -->
                <img src="../static/img/gb65.png"
                     alt="Nazwa trasy"
                     class="road-summary-cover"
                />
                <!-- informacje o trasie -->
                <div class="road-summary-info">
                    <h1 class="road-summary-title">Nazwa 1</h1>
                    <p class="road-summary-original-title">Miasto</p>
                    <p class="road-summary-item">Długość trasy</p>
                    <p class="road-summary-item">Gatunek: <a href="#">Ultra</a></p>
                    <p class="road-summary-item">
                        Padniesz czy nie?
                    </p>
                </div>
            </div>
            <!-- Ocena -->
            <div class="road-rating-container movie-section">
                <h2 class="road-section-heading">Ocena</h2>
                <div>
                    <p class="road-rating-value" th:text="${avgRating}">4.0</p>
                    <p>Liczba ocen: 134</p>
                </div>
                <form action="#" class="road-rating-form">
                    <!-- Identyfikator filmu, na który głosujemy-->
                    <p>Twoja ocena</p>
                    <input type="hidden" name="roadId">
                    <div class="road-rating-buttons">
                        <button class="road-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="road-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="road-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="road-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="road-rating-button"><i class="fa-regular fa-star"></i></button>
                    </div>
                </form>
                <p><a href="#">Zaloguj się</a>, aby oddać głos</p>
            </div>
        </section>
        <!-- trailer -->
        <section class="road-trailer-container movie-section">
            <h2 class="road-section-heading">Trailer</h2>
            <iframe width="560" height="315" class="road-trailer"
                    src="https://www.youtube.com/embed/yrb2giNasGs"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        <!-- opis -->
        <section class="road-section">
            <h2 class="road-section-heading">Opis</h2>
            <p>Znana trasa dla ultra-maratończyków</p>
        </section>
    </main>
</div>
</body>
</html>
